github "gilesvangruisen/Swift-YouTube-Player" ~> 0.5.1
github "malcommac/SwiftDate" == 4.4.2
github "shinydevelopment/SimulatorStatusMagic" == 2.3.2
github "zvonicek/ImageSlideshow" ~> 1.7.0
github "realm/realm-cocoa" ~> 3.15.0
github "bizz84/SwiftyStoreKit" ~> 0.15.0
github "SVProgressHUD/SVProgressHUD" ~> 2.2.5